/**
 * @author Vaibhav Shringarpure
 * @email vibs.sh@gmail.com
 * @create date 2018-07-25 
 * @modify date 2018-07-25 
 * @desc [App Component]
*/
.app-background {
    height: 500px; 
    position: relative;
}

.app-background__image {
    bottom: 0;
    height: 500px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}