<div class="app-background">
    <!-- Body Background - slanted Black bg -->
    <svg class="app-background__image" viewBox="0 0 1024 499" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs></defs>
        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="main_bg" fill="#000000">
                <polygon id="Rectangle-2" points="0 0 1024 0 1024 354.948587 0 499"></polygon>
            </g>
        </g>
    </svg>

    <!-- Header Component-->
    <bynd-header></bynd-header>

    <!-- Router Outlet -->
    <router-outlet></router-outlet>
</div>
