<!--
@author Vaibhav Shringarpure
@email vibs.sh@gmail.com
@create date 2018-07-25 
@modify date 2018-07-25 
@desc [Video Component]
-->

<div class="container">
    <div class="col-one-sixth video-col">
        <div class="video-wrapper">
            <!-- Paste YouTube link here -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Y69gu2xv25s" frameborder="0" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
        </div>
    </div>

    <div class="col-one-third video__content-col">
        <h2 class="video__title heading-copy">Title of Video</h2>
        <h3 class="video__published title-copy">Published on
            <span>Oct 19, 2017</span>
        </h3>
        <p class="video__copy paragraph-copy">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce molestie nec neque et posuere. Mauris convallis est non dui
            condimentum efficitur. In urna ipsum, ultrices quis turpis sit amet, lobortis dictum ligula
        </p>

        <a routerLink="/video-list" class="video__back-link">
            <div class="back-icon">
                <svg width="12px" height="15px" viewBox="0 0 12 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g id="Play" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Play_Desktop" transform="translate(-682.000000, -238.000000)" fill="#50E3C2">
                            <g id="back_arrow" transform="translate(682.000000, 238.000000)">
                                <polygon id="Triangle" transform="translate(6.000000, 7.500000) scale(-1, 1) rotate(90.000000) translate(-6.000000, -7.500000) "
                                    points="6 2 13 13 -1 13"></polygon>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <span>Back to list</span>
        </a>
    </div>
</div>
