/**
 * @author Vaibhav Shringarpure
 * @email vibs.sh@gmail.com
 * @create date 2018-07-25 
 * @modify date 2018-07-25  
*/

/* Global Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Import Helper scss */

@import 'helper.scss';

/* Typography Helper classes */
.title-copy {
    color: $secondary-font-color;
    line-height: 15px;    
    @include remsize(font-size, 13px);
}

.paragraph-copy {
    color: $primary-font-color;
    line-height: 14px;
    @include remsize(font-size, 12px);
}

.heading-copy {
    color: $secondary-font-color;
    font-family: $secondary-font;
    line-height: 22px;
    @include remsize(font-size, 16px);
}

body {
    background: $grey-color;
    color: $white-color;
    font-family: $primary-font;
    line-height: 1.5;
    @include remsize(font-size, 16px);
}

.container {
    display: block;
    margin: 0 auto;
    max-width: 900px;
    overflow: hidden;
    width: 95%;

    @media (min-width: map-get($beyond-breakpoints, lg)) {
        width: 100%;
    }
}

.container--overflow {
    overflow: initial;
}